body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffc0cb; /* pembe */
}

.container {
  text-align: center;
}

h1 {
  font-family: 'Parisienne', cursive;
  font-size: 60px;
  color: #ff1493;
  text-shadow: 2px 2px white;
}
